# Copyright 2022-present Open Networking Foundation
# SPDX-License-Identifier: Apache-2.0

[Match]
Name={{gnbsim.network.mcavlan_iface}}

[Network]
IPForward=yes
Address=172.20.0.1/24
