# SPDX-FileCopyrightText: 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=GNBSim iptables rules
After=systemd-networkd.service
Wants=sys-subsystem-net-devices-gnbaccess.device

[Service]
Type=oneshot
ExecStart=/usr/sbin/iptables-restore -n /etc/iptables/gnbsim-rules.v4
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
